USE [master]
GO
/****** Object:  Database [STORE]    Script Date: 04/05/2023 23:01:07 ******/
CREATE DATABASE [STORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\STORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\STORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STORE]
GO
/****** Object:  Table [dbo].[AREAS]    Script Date: 04/05/2023 23:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAS](
	[Area_Code] [int] IDENTITY(1,1) NOT NULL,
	[Descript] [varchar](200) NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Area_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_EMPLOYEES_AREAS]    Script Date: 04/05/2023 23:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_EMPLOYEES_AREAS](
	[DetEmplArea] [int] IDENTITY(1,1) NOT NULL,
	[Tip_Id] [varchar](10) NOT NULL,
	[Num_Id] [varchar](25) NOT NULL,
	[Area_Code] [int] NULL,
	[Date_Update] [datetime] NULL,
	[Date_Insert] [datetime] NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetEmplArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOMAIN]    Script Date: 04/05/2023 23:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOMAIN](
	[Code] [varchar](10) NOT NULL,
	[Name_Domain] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [DOMAIN_PK] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOMAINDETAIL]    Script Date: 04/05/2023 23:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOMAINDETAIL](
	[Domain_Value] [varchar](15) NOT NULL,
	[Active] [bit] NOT NULL,
	[Abbreviation] [varchar](100) NULL,
	[Descript] [varchar](100) NULL,
	[CodeDomain] [varchar](10) NOT NULL,
 CONSTRAINT [DOMAINDETAIL_PK] PRIMARY KEY CLUSTERED 
(
	[Domain_Value] ASC,
	[CodeDomain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 04/05/2023 23:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[Tip_Id] [varchar](10) NOT NULL,
	[Num_Id] [varchar](25) NOT NULL,
	[First_Name] [varchar](30) NOT NULL,
	[Second_Name] [varchar](30) NULL,
	[Last_Name] [varchar](30) NOT NULL,
	[Middle_Name] [varchar](30) NOT NULL,
	[Addres] [varchar](200) NOT NULL,
	[Cellphone] [varchar](200) NOT NULL,
	[Email] [varchar](200) NULL,
 CONSTRAINT [EMPLOYEES_PK] PRIMARY KEY CLUSTERED 
(
	[Tip_Id] ASC,
	[Num_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AREAS] ON 

INSERT [dbo].[AREAS] ([Area_Code], [Descript], [Active]) VALUES (1, N'Nomina', 1)
INSERT [dbo].[AREAS] ([Area_Code], [Descript], [Active]) VALUES (2, N'Facturacion', 1)
INSERT [dbo].[AREAS] ([Area_Code], [Descript], [Active]) VALUES (3, N'Servicio al cliente', 1)
SET IDENTITY_INSERT [dbo].[AREAS] OFF
GO
INSERT [dbo].[EMPLOYEES] ([Tip_Id], [Num_Id], [First_Name], [Second_Name], [Last_Name], [Middle_Name], [Addres], [Cellphone], [Email]) VALUES (N'CC', N'1023365423', N'Tito', N'Pelaez', N'Francisco', N'Tuntun', N'cll 10 10-10', N'3132589632', N'corretito@gmail.com')
INSERT [dbo].[EMPLOYEES] ([Tip_Id], [Num_Id], [First_Name], [Second_Name], [Last_Name], [Middle_Name], [Addres], [Cellphone], [Email]) VALUES (N'CC', N'80139527', N'Julian', N'Felipe', N'Perez', N'Rodriguez', N'cll 15 13-12', N'3132863548', N'jfelipe@gmail.com')
INSERT [dbo].[EMPLOYEES] ([Tip_Id], [Num_Id], [First_Name], [Second_Name], [Last_Name], [Middle_Name], [Addres], [Cellphone], [Email]) VALUES (N'TI', N'1024494003', N'Estefany', N'Burgos', N'Paola', N'Patiño', N'cll 100 200-100', N'3201245122', N'estefany@gmail.com')
GO
ALTER TABLE [dbo].[DETAIL_EMPLOYEES_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_AREAS_DETAILEMPLOYEESAREAS] FOREIGN KEY([Area_Code])
REFERENCES [dbo].[AREAS] ([Area_Code])
GO
ALTER TABLE [dbo].[DETAIL_EMPLOYEES_AREAS] CHECK CONSTRAINT [FK_AREAS_DETAILEMPLOYEESAREAS]
GO
ALTER TABLE [dbo].[DETAIL_EMPLOYEES_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_DETAILEMPLOYEESAREAS] FOREIGN KEY([Tip_Id], [Num_Id])
REFERENCES [dbo].[EMPLOYEES] ([Tip_Id], [Num_Id])
GO
ALTER TABLE [dbo].[DETAIL_EMPLOYEES_AREAS] CHECK CONSTRAINT [FK_EMPLOYEES_DETAILEMPLOYEESAREAS]
GO
/****** Object:  StoredProcedure [dbo].[GETEMPLOYEE]    Script Date: 04/05/2023 23:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--===========================
--Autor: Silvia Patiño
--Modulo:Se crea para obtener un empleado
--Fecha: 04/05/2023
--============================
CREATE PROCEDURE [dbo].[GETEMPLOYEE]

@Num_Id VARCHAR(25)      
AS 
BEGIN
SELECT  TOP 1
Tip_Id,
Num_Id,        
First_Name,
Second_Name,
Last_Name,
Middle_Name,
Addres,
Cellphone,
Email
FROM EMPLOYEES WHERE Num_Id=@Num_Id 
END 
GO
/****** Object:  StoredProcedure [dbo].[GETEMPLOYEES]    Script Date: 04/05/2023 23:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--===========================
--Autor: Silvia Patiño
--Modulo:Se crea para el modulo de empleados 
--Fecha: 04/05/2023
--============================
CREATE PROCEDURE [dbo].[GETEMPLOYEES]
AS 
BEGIN
SELECT  TOP 10
Tip_Id,
Num_Id,        
First_Name,
Second_Name,
Last_Name,
Middle_Name,
Addres,
Cellphone,
Email
FROM EMPLOYEES ORDER BY 1 DESC
END 
GO
/****** Object:  StoredProcedure [dbo].[SAVEEMPLOYEES]    Script Date: 04/05/2023 23:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--===========================
--Autor: Silvia Patiño
--Modulo:Se crea para la insercion del modulo de empleados 
--Fecha: 04/05/2023
--============================
CREATE PROCEDURE [dbo].[SAVEEMPLOYEES]
@Tip_Id VARCHAR(10),
@Num_Id VARCHAR(25),        
@First_Name VARCHAR(30),
@Second_Name VARCHAR(30),
@Last_Name VARCHAR(30),
@Middle_Name VARCHAR(30),
@Addres VARCHAR(200),
@Cellphone VARCHAR(200),
@Email VARCHAR(200)
AS 
BEGIN
IF EXISTS(SELECT * FROM EMPLOYEES WHERE Tip_Id =@Tip_Id  AND Num_Id= @Num_Id)
BEGIN
UPDATE EMPLOYEES SET Addres = @Addres,Cellphone = @Cellphone,Email=@Email WHERE Tip_Id = @Tip_Id AND Num_Id  = @Num_Id

END 
ELSE 
BEGIN 
INSERT INTO EMPLOYEES VALUES(@Tip_Id,@Num_Id,@First_Name,@Second_Name,@Last_Name,@Middle_Name,@Addres,@Cellphone,@Email)
END 
END 


GO
USE [master]
GO
